%h1 mix char
%form{"accept-charset" => "utf-8", :action => "/calc", :method => "get"}
  %input{:name => "query1", :value => "助"}/
  %select{:name => 'calc'}
    %option{:value => "+", :selected => "selected"} +
    %option{:value => "-"} -
    %option{:value => "*"} *
    %option{:value => "/"} ÷
    
  %input{:name => "query2", :value => "六"}/
  
    
  %input{:type => "submit", :value => "Calc"}/
%p
  一文字ずつ入力してください