body
  color: #fff
  font-size: 300%
  
  .wrapper
    width: 600px
    margin: 0 auto
    padding: 20px
    background-color: #393
    
    form
      input, select
        font-size: 150%
        width: 120px
      
    
